* {
    box-sizing: border-box;
}

:root {
    --heading-color: #212832;
    --primary-color: #7264d6;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

/* ========== Common ========== */
.container {
    width: 1170;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
