* {
    box-sizing: border-box;
}

:root {
    --heading-color: #212832;
    --primary-color: #7264d6;
    --desc-color: #696d76;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    height: 100000px;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

/* ========== Common ========== */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn {
    --height: 58px;

    min-width: 149px;
    height: var(--height);
    padding: 0 20px;
    border-radius: 8px;
    background: #212832;

    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: var(--height); /* 175% */
}

.btn:hover {
    opacity: 0.9;
}

.section-heading {
    color: var(--heading-color);
    font-weight: 700;
}

.section-heading.lv1 {
    font-size: 6rem;
    line-height: 1.16; /* 116.667% */
}

.section-heading.lv2 {
    font-size: 4rem;
    line-height: 1.25; /* 125% */
}

.section-subtitle {
    position: relative;
    margin-left: 30px;
    color: #696d77;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.section-subtitle::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
    width: 18px;
    height: 2px;
    background: #696d77;
}

.section-desc {
    color: var(--desc-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}

/* ========== Header =========== */
.header {
    background: #fff;
    position: sticky;
    top: -40px;
    padding: 54px 0 10px;
    z-index: 2;
}

.header__inner {
    display: flex;
    align-items: center;
}

.navbar {
    margin-left: auto;
}

.header__list {
    display: flex;
    column-gap: 48px;
}

.header-item__link {
    padding: 7px 0;
    position: relative;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.header-item__link:hover {
    color: #212832;
    text-shadow: 0 0 currentColor;
}

.header-item__link--active {
    color: #212832;
    text-shadow: 0 0 currentColor;
}

.header-item__link--active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 100%;
    height: 1px;
    background: #7264d6;
}

.header__action {
    display: flex;
    align-items: center;
    column-gap: 28px;
    margin-left: 454px;
}

.header__btn--signin {
    padding: 10px 0;
    color: #212832;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.header__btn--signup {
    --height: 52px;
    min-width: 113px;
}

/* ========== Hero ========== */
.hero {
    padding: 88px 0 80px;
}

.hero__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__content {
    width: 46%;
}

.hero__heading {
    margin: 12px 0 20px;
}

.hero__highlight {
    color: #7264d6;
}

.hero-form {
    margin-top: 40px;
    display: flex;
    align-items: center;

    width: 100%;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero-form__input {
    padding: 0 23px;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    outline: none;
    border: none;
}

.hero-form__input::placeholder {
    color: var(--desc-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.hero-form__submit {
    background: #7264d6;
}

.hero__desc--bottom {
    margin-top: 20px;
    font-size: 1.4rem;
    line-height: 1.71; /* 171.429% */
}

.hero__media {
    margin-right: 174px;
    position: relative;
    width: 296px;
    height: 562px;
}

.hero__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-box {
    position: absolute;
}

.hero-deposite {
    top: 113px;
    left: -100px;
    width: 174px;
    height: 46px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    padding: 14px 10px;
}

.hero-deposite__text {
    margin: 0 19px 0 8px;
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero-deposite__value {
    color: #4ab5e3;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.hero-interest {
    top: 156px;
    right: -174px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 29px 33px 30px;
    width: 130px;
    height: 130px;
    background: #da6464;
    border-radius: 50%;
}

.hero-interest__percent {
    color: #fff;
    text-align: center;
    font-size: 4.4rem;
    font-weight: 600;
}

.hero-interest__text {
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
}

.hero-shield {
    right: -72px;
    bottom: 61px;
    width: 124px;
    height: 68px;
    padding: 20px 14px 22px;
    border-radius: 10px;
    background: #439f90;

    display: flex;
    column-gap: 11px;
    align-items: center;
}

.hero-shield__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hero-shield__value {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero-shield__text {
    color: #fff;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

/* ========== Work ========== */
.work {
    padding: 80px 0;
}

.work__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work__media {
    position: relative;
    width: 456px;
    height: 619px;
}

.work__images {
    position: relative;
}

.work__icon--bank {
    position: absolute;
    top: 76px;
    right: 55px;
}

.work-box {
    position: absolute;
    z-index: 1;
    right: -107px;
    bottom: 96px;
    display: flex;
    column-gap: 20px;
    align-items: center;
    width: 226px;
    height: 77px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
    padding: 15px 30px 15px 15px;
}

.work-box__title {
    color: #212832;
    font-family: Inter;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.work-box__desc {
    white-space: nowrap;
    color: var(--desc-color);
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal;
}

.work__images::before {
    content: "";
    background: url(../img/work-bg.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 470px;
    height: 550px;
    bottom: -4px;
    left: -4px;
}

.work__img {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.work__content {
    width: 40%;
}

.work__heading {
    margin-top: 12px;
}

.work__list {
    margin-top: 70px;
}

.work-item__heading {
    color: var(--heading-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45; /* 145.455% */
}

.work-item + .work-item {
    margin-top: 28px;
}

.work-item__desc {
    margin-top: 16px;
    color: var(--desc-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

/* ========== Payment ========== */
.payment {
    padding: 80px 0;
}

.payment__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payment__content {
    width: 40%;
}

.payment__heading {
    margin-top: 12px;
}

.payment__desc {
    margin-top: 20px;
}

.payment__list {
    margin-top: 28px;
}

.payment-item {
    position: relative;
    margin-left: 24px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.payment-item + .payment-item {
    margin-top: 18px;
}

.payment-item::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -24px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #7264d6;
}

.payment__btn {
    margin-top: 38px;
}

.payment__media {
    position: relative;
    margin-right: 88px;
}

.payment-send {
    position: absolute;
    top: -48px;
    right: -88px;
    width: 276px;
    height: 86px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    padding: 23px 13px;
}

.payment-send__column:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 14px;
}

.payment-send__icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.payment-send__title {
    color: #212832;
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: normal;
}

.payment-send__desc {
    color: #696d76;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
}

.payment-send__column:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3px;
    margin-left: 67px;
}

.payment-income {
    position: absolute;
    right: -88px;
    bottom: -55px;
    width: 120px;
    height: 120px;
    padding: 14px 15px 15px;
    border-radius: 16px;
    background: #439f90;
}

.payment-income__title {
    margin-top: 14px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal;
}

.payment-income__value {
    margin-top: 6px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

/* ========== Features ========== */
.feature {
    padding: 80px 0;
}

.feature__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature__media {
    position: relative;
    width: 413px;
    height: 600px;
    flex-shrink: 0;
}

.feature__images::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -29px;
    width: 470px;
    height: 432px;
    background: url(../img/feature-bg.svg);
    background-repeat: no-repeat;
}

.feature__img {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feature__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    right: -128px;
    top: 288px;

    background: #7264d6;
    box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.feature-method {
    position: absolute;
    z-index: 1;
    right: -102px;
    bottom: 57px;
    width: 281px;
    height: 220px;
    border-radius: 5px;
    padding: 28px 29px 28px 28px;
    background: #fff;
    filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.1));
}

.feature-method__heading {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.feature-method__icons {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.feature__content {
    width: 40%;
}

.feature__heading {
    margin: 12px 0 20px;
}

.feature__list {
    margin: 28px 0 38px;
}

.feature-item {
    position: relative;
    margin-left: 24px;
}

.feature-item + .feature-item {
    margin-top: 18px;
}

.feature-item::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -24px;
    background: #7264d6;
}

/* ========== Client ========== */
.client {
    padding: 80px 0;
}

.client__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.client__subtitle,
.client__heading,
.client__desc {
    text-align: center;
    margin: 0 auto;
}

.client__subtitle {
    width: 120px;
}

.client__heading {
    margin-top: 12px;
}

.client__desc {
    margin-top: 18px;
    width: 435px;
    font-size: 1.6rem;
}

.client__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
}

.client-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.client-item__quote {
    color: #696d76;
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54; /* 154.545% */
}

.client-item__box {
    position: relative;
    padding: 42px 28px;
    background: #fff;
    /* border: 1px solid #dfe2e8; */
    filter: drop-shadow(0px 0px 1px #dfe2e8);
    border-radius: 5px;
}

.client-item__box::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -100px;
    border: 50px solid orange;
    border-color: #fff transparent transparent transparent;
}

.client-item__box:hover {
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
    border: none;
}

.client-item__client {
    margin-top: 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.client-item__avatar {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.client-item__image {
    position: relative;
    width: 104px;
    height: 104px;
    border-radius: 52px;
}

.client-item__image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.client-item:nth-child(1) .client-item__image::before {
    background: #4ab5e3;
}

.client-item:nth-child(2) .client-item__image::before {
    background: #439f90;
}

.client-item__name {
    margin-top: 20px;
    color: #070052;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38; /* 138.462% */
}

.client-item__job {
    margin-top: 2px;
    color: #696d76;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.client__dashs {
    margin-top: 38px;
    display: flex;
    column-gap: 12px;
}

.client__dash {
    width: 22px;
    height: 6px;
    border: 1px solid #9b9fab;
}

.client__dash:hover {
    background: #7264d6;
    border-color: #7264d6;
}

.client__dash--active {
    background: #7264d6;
    border-color: #7264d6;
}

.client__list {
    overflow: hidden;
    width: 100%;
    flex-shrink: 0;
}

.client__quote {
    display: flex;
    overflow: hidden;
}

/* ========== Blog ========== */
.blog {
    padding: 80px 0;
}

.blog__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__content {
    width: 435px;
}

.blog__heading {
    margin-top: 6px;
}

.blog__desc {
    margin-top: 18px;
    font-size: 1.6rem;
}

.blog__btn {
    min-width: 123px;
    --height: 58px;
}

.blog__list {
    margin-top: 98px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.blog-item {
    padding: 28px;
    display: flex;
    align-items: center;
    column-gap: 22px;

    border-radius: 12px;
    border: 1px solid #dfe2e8;
    background: #fff;
}

.blog-item:hover {
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
    border-color: #fff;
}

.blog-item__thumb {
    width: 160px;
    height: 160px;
    border-radius: 12px;
    object-fit: cover;
}

.blog-item__date {
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
}

.blog-item__heading {
    margin-top: 10px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.blog-item__btn {
    padding: 0;
    margin: 0;
    margin-top: 20px;

    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.62; /* 162.5% */
    transition: 0.3s;
}

.blog-item__btn:hover {
    color: #7264d6;
    text-decoration: underline;
}
